{% extends 'base.html' %}
{% block title %} Reset done {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center"><h4>Password reset done</h4></div>
                    <div class="card-body">
                        <p><b>Your password has been reset. Please check your email!</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}