{% extends 'base.html' %}
{% block title %}Details {{ teacher.first_name }} {{ teacher.last_name }}{% endblock %}
{% block content %}
    <div class="container-xxl">
        <div class="card text-bg-dark mb-r">
            <div class="card-header text-center"><h3>Teacher</h3></div>
            <div class="card-body">
                    <p class="card-title"> Name: {{ teacher.first_name }} {{ teacher.last_name }}</p>
                    <p class="card-title"> Department: {{ teacher.department }} </p>
                    <p class="card-title"> Course: {{ teacher.course }} </p>
                    <p class="card-title"> Description: {{ teacher.description }} </p>
                <div class="card-footer text-center">
                    <p><a href="{% url 'list_of_teachers' %}" class="btn-primary">Cancel</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}