{% extends 'base.html' %}
{% block title %} List of cars {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-6 offset-md-3">
        <h3 class="text-red text-center">List of cars</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Color</th>
                </tr>
                </thead>
                <tbody>
                    {% for car in all_cars %}
                        <tr>
                            <td>{{ car.name }}</td>
                            <td>{{ car.model }}</td>
                            <td>{{ car.color }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}
